/*Importing 2 fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500;700;800&display=swap');

body{
	background: #fff;
	overflow-x: hidden;
}

/*Adding this cause overflow-x doesn't work while in body,html for mobile screens*/
.content{
	overflow-x: hidden;
}
/*For gray bg*/
.gray-bg{
	background: #fafafa !important;
}

/*---------------
Navbar
----------------*/
.navbar .navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: 0.05em;
}
.navbar .navbar-collapse .btn{
	background: #c8a97e;
}

/*----------------
Cards (in specailities section)
------------------*/
#specialities .card .card-text{
	color: #666666
}
#specialities .card .offers{
	color: #c8a97e;
}
#specialities .card-body{
	line-height: 1.5em;
}
#specialities .card button{
	background: #c8a97e;
	color: white !important;
}
#specialities .hidden-elems{
	color: #c8a97e;
}

/*------------------
Categories Section
-------------------*/
#categories{
	font-family: 'Kufam', cursive;
}
#categories a:hover{
	text-decoration: none;
}
#categories .col-10{
 	color: white;
 	padding: 2.8em;
 	width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.8em;
}

/*--------------------------
Header section
---------------------------*/
@media only screen and (min-device-width:350px) and (max-device-width:750px){
	section#header:before{
		padding: 10em;
	}
}
#header:before{
    content: "";
    position: absolute;
    z-index: -1; 
    background: url(banner-bg.jpg);
    background-position: center;
    padding: 6em;
    width: 100%;
  
    -webkit-filter: blur(2.1px);
    -moz-filter: blur(2.1px);
    -o-filter: blur(2.1px);
    -ms-filter: blur(2.1px);
    filter: blur(2.1px);
}
#header h2{
	font-family: 'Great Vibes';
	color: #c8a97e;
	font-size: 6em;
}

/*---------------------
Menu Section
---------------------*/
#menu{
	font-family: 'Poppins';
}
#menu p{
	font-size: 14px;
}
#menu .name-style{
	font-family: 'Great Vibes', cursive;
	color: #c8a97e;
}
#menu .name-style h1{
	font-size: 7em !important;
}
@media only screen and (min-device-width:600px) and (max-device-width:1000px){
	section#menu .name-style h1{
		font-size: 4.8em !important;
	}
}

#menu .dish-title{
	display: inline-block;
}
#menu .dish-marks{
	float: right;
}
#menu .dish-price{
	color: #ff7404!important; 
	display: inline-block;
}
#menu .add-to-cart{
	background: #c8a97e;
	color: white !important;
	float: right;
	margin-top: 1em !important;
}

/*-------------------
Owl Carousel
---------------------*/
div.owl-nav{
	display: none;
}
.owl-dots{
	margin-top: 1em;
}
github

/*-----------------
Typography
------------------*/
.cursive-txt{
	font-family: 'Great Vibes';
	color: #c8a97e;
	font-size: 6em;
}



