/*Importing 2 fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600;700&display=swap');

body{
	background: #fff;
	overflow-x: hidden;
}

/*Adding this cause overflow-x doesn't work while in body,html for mobile screens*/
.content{
	overflow-x: hidden;
}

/*---------------
Navbar
----------------*/
.navbar .navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: 0.05em;
}
.navbar .navbar-collapse .btn{
	background: #c8a97e;
}

/*----------------
Cards
------------------*/
.card .card-text{
	color: #666666
}
.card .offers{
	color: #c8a97e;
}
.card .offers #offer-elem{
	display: none;
}

/*-----------------
Typography
------------------*/
.cursive-txt{
	font-family: 'Great Vibes';
	color: #c8a97e;
	font-size: 6em;
}
.shft-txt{
	position: relative;
	top: -1.28em;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 3.5em;	
}

