/*Importing 2 fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500;600;700;800&display=swap');

body{
	background: #fff;
	overflow-x: hidden;
}

/*Adding this cause overflow-x doesn't work while in body,html for mobile screens*/
.content{
	overflow-x: hidden;
}
/*For gray bg*/
.gray-bg{
	background: #fafafa !important;
}
.btn-simpli{
	background: #c8a97e;
	color: #fff;
}

/*-----------------
Typography
------------------*/
.cursive-txt{
	font-family: 'Great Vibes';
	color: #c8a97e;
	font-size: 6em;
}

/*---------------
Navbar
----------------*/
.navbar .navbar-brand{
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: 0.05em;
}
.navbar .navbar-collapse .btn{
	background: #c8a97e;
}

/*----------------
Cards (in specailities section)
------------------*/
#specialities .card .card-text{
	color: #666666
}
#specialities .card .offers{
	color: #c8a97e;
}
#specialities .card-body{
	line-height: 1.5em;
}
#specialities .card button{
	background: #c8a97e;
	color: white !important;
}
#specialities .hidden-elems{
	color: #c8a97e;
}

/*------------------
Categories Section
-------------------*/
#categories{
	font-family: 'Kufam', cursive;
}
#categories a:hover{
	text-decoration: none;
}
#categories .col-10{
 	color: white;
 	padding: 2.8em;
 	width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.8em;
}

/*-----------------
Owl Carosuel
------------------*/
.owl-carousel .owl-nav{
	display: none;
}
.owl-carousel .owl-dots{
	padding-top: 1em;
}

/*-----------------
Carousel with categorized specialities
-------------------
#spl-carousel .item{
	display: flex;
	justify-content: center;
	margin: 0;
}
#spl-carousel .owl-item{
	width: 350px!important;
}
#spl-carousel .cost-circle{
	background: #ff7404;
	color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 2.3em;
	padding: 0.6em 0.2em;
}
#spl-carousel .crl-area{
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
#spl-carousel .crl-txt{
	position: relative;
	top: 45px;
	font-size: 2em;
	text-transform: uppercase;
	color: #fff;
	margin: 0 1.6em;
	background: rgba(0,0,0,0.7);
	border-radius: 0.4em;
} */

#spl-carsl .owl-item{
	width: 15.6rem!important;
}
#spl-carsl .item{
	width: 14rem !important;
}
#spl-carsl .cost-circle{
	background: #ff7404;
	color: white;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 1em;
	padding: 0.6em 0.4em;
	border-radius: 50%;
}
#spl-carsl .btn-simpli{
	float: right;
}
#spl-carsl .card-text{
	font-size: 95%;
}

/*------------------
Menu Section
--------------------*/
#menu .cursive-txt{
	font-size: 50px;
	text-align: center;
}
#menu .menu-img{
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}
#menu .cost-circle{
	background: #ff7404;
	color: white;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 0.9em;
	padding: 0.4em 0.2em;
	border-radius: 50%;
}
#menu .btn-simpli{
	float: right;
}
#menu .card-body p{
	font-size: 95%;
}
/*-------------------------
MENU
-------------------------*/

/*--------------------------
Header section
---------------------------*/
/*
#header:before{
    content: "";
    position: absolute;
    z-index: -1; 
    background: url(banner-bg.jpg);
    background-position: center;
    padding: 6em;
    width: 100%;
  
    -webkit-filter: blur(2.1px);
    -moz-filter: blur(2.1px);
    -o-filter: blur(2.1px);
    -ms-filter: blur(2.1px);
    filter: blur(2.1px);
}*/






